$colorBlack1: #202123;
$colorBlack2: #242526;
$colorBlack3: #3C3E49;
$colorBlack4: #414350;

$colorWhite1: #FFF;
$colorWhite2: #D9D9D9;

// $colorYellow1: #FFFF0C;
// $colorYellow2: #FCFC69;
$colorYellow1: linear-gradient(180deg, rgba(218, 135, 255, 0.00) 0%, #DA87FF 100%);
$colorYellow2: linear-gradient(180deg, rgba(218, 135, 255, 0.00) 0%, #DA87FF 100%);
// $colorYellow2: linear-gradient(180deg, rgba(218, 135, 255, 0.00) 0%, rgba(218, 135, 255, 0.95) 100%);

$colorPurple1: #DA87FF;

$mark1: #FF0C0C;
$mark2: #FF8F0C;
$mark3: #FFFF0C;
$mark4: #06FF6A;
$mark5: #06FF6A;
